* {
  color: rgb(1, 1, 69);
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  background-color:cornflowerblue;
}

.container{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
}

.childC1,.childC2,.childC3,.childC4 {  
  display: flex;                 /* Use Flexbox layout */  
  flex-direction: column;       /* Align items in a column */  
  justify-content: center;      /* Center items vertically */  
  align-items: center;          /* Center items horizontally */  
  height: 100px;                /* Set height if needed, adjust as necessary */  
}  

.childD {  
  display: flex;  
  justify-content: center; /* Center horizontally */  
  align-items: center; /* Center vertically */  
  height: 100vh; /* Make the outer div full height of the viewport */  
}  

div.childC1:hover,div.childC2:hover,div.childC3:hover{
  background-color: brown;
}

div.childC1 a:hover,div.childC2 a:hover,div.childC3 a:hover{
  color:aliceblue;
}

div.childC4 a:hover{
  color: blue;
}

div.childC4:hover::after{
  content: "This is a hover effect";
  color:aliceblue;
}

img:hover{
  transform: scale(1.1);
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%;
}


#childFcontent{
  color:aliceblue;
}

div p{
  text-align: center;
}



div img{
  width: 100%;
  height: 100%;
}

.childA{
  grid-area: 1/1/2/4;
  background-color: aqua;
}

.childB{
  grid-area: 1/4/2/5;
  background-color: aquamarine;
}

.childC1{
  grid-area: 2/1/3/2;
  background-color: beige;
}

.childC2{
  grid-area: 2/2/3/3;
  background-color: bisque;
}

.childC3{
  grid-area: 2/3/3/4;
  background-color: blanchedalmond;
}

.childC4{
  grid-area: 2/4/3/5;
  background-color: blueviolet;
}

.childD{
  grid-area: 3/1/4/4;
  background-color: brown;
}

.childE{
  grid-area: 3/4/4/5;
  background-color: burlywood;
}

.childF{
  grid-area: 4/1/5/5;
  background-color: cadetblue;
}

.childd1{
  grid-area: 5/1/6/2;
  background-color: chartreuse;
}

.childd2{
  grid-area: 5/2/6/3;
  background-color: chocolate;
}

.childd3{
  grid-area: 5/3/6/4;
  background-color: coral;
}

.childd4{
  grid-area: 5/4/6/5;
  background-color: cornflowerblue;
}